<header class="main-header">
  <div class="main-header__left">
    <div class="logo">
      <span class="logo__first">reelax</span>
      <span class="logo__second">tickets</span>
    </div>
  </div>

  <nav class="main-header__nav">
    <a href="#">Événements</a>
    <a href="#">Organisateurs</a>
    <a href="#">Aide</a>
  </nav>

  <div class="main-header__right" [routerLink]="['/user']">
    <button class="icon-btn" aria-label="Profil utilisateur">👤</button>
    <button class="icon-btn" aria-label="Langue">🇫🇷</button>
  </div>
</header>
