<div class="detail-container" *ngIf="show">

    <div class="detail-image-wrapper">
        <img [src]="show.imageUrl" alt="{{ show.title }}" class="detail-image" />
    </div>

    <h1 class="detail-title">
        {{ show.title }}
    </h1>

    <div class="detail-infos">

        <div class="detail-info-line">
            <strong>Date :</strong>
            <span>{{ show.date }}</span>
        </div>

        <div class="detail-info-line">
            <strong>Prix :</strong>
            <span>
        <ng-container *ngIf="show.price; else noPrice">
          À partir de {{ show.price }}€
        </ng-container>

        <ng-template #noPrice>
          — €
        </ng-template>
      </span>
        </div>
    </div>

    <button class="reserve-button">
        Réserver
    </button>

</div>

<div *ngIf="isLoading" class="loading">
    Chargement...
</div>
