<a class="show-card-link" [routerLink]="['/show', show.id]">
    <div class="show-card">

        <div class="show-card__image-wrapper">
            <img [src]="show.imageUrl" [alt]="show.title" />
        </div>

        <div class="show-card__content">

            <div class="show-card__title">
                {{ show.title }}
            </div>

            <div class="show-card__date">
                {{ show.date }}
            </div>

            <!-- PRIX -->
            <div class="show-card__price">
                <ng-container *ngIf="show.price; else noPrice">
                    À partir de <strong>{{ show.price }}€</strong>
                </ng-container>

                <ng-template #noPrice>
                    — €
                </ng-template>
            </div>

        </div>

    </div>
</a>
