<a class="show-card-link" [routerLink]="['/show', show.id]">
  <article class="show-card">
    <div class="img">
      <img [src]="imageSrc" [alt]="show.titre" />
    </div>

    <div class="content">
      <h3 class="title">{{ show.titre }}</h3>

      <p class="line">
        <strong>Date :</strong> {{ formatDate(show.date_spectacle) }}
      </p>

      <p class="line">
        <strong>Prix :</strong> {{ show.prix }} €
      </p>

      <p class="line">
        <strong>Places restantes :</strong>
        {{ show.nb_places_restantes }} / {{ show.nb_places_total }}
      </p>
    </div>
  </article>
</a>
